<!doctype html>
<html>

    <head>
        <title>访客管理</title>
        {% include './layout/head.html' %}

    </head>

    <body>

        {% include './admin/header.html' %}
        <script>
            $('.nav3').toggleClass('active');
        </script>
        <main>
            <div class="container">
                <div id="main-card" class="card valign-wrapper">
                    <div class="container valign">


                        {% if isAdmin %}
                        <form action="/admin/visitor_add" method="post">

                            <div class="input-field">
                                <input id="name" name="name" type="text" class="validate">
                                <label for="name">到访者姓名</label>
                            </div>
                            <div class="input-field">
                                <input id="begintime" name="begintime" type="text" class="validate">
                                <label for="begintime">访问时间</label>
                            </div>
                            <div class="input-field">
                                <input id="endtime" name="endtime" type="text" class="validate">
                                <label for="endtime">离开时间</label>
                            </div>
                            <div class="input-field">
                                <input id="student" name="student" type="text" class="validate">
                                <label for="student">被访问学生学号</label>
                            </div>
                            <button class="btn waves-effect waves-light right blue" type="submit" name="action">提交
                                <i class="material-icons right">send</i>
                            </button>

                        </form>
                    </div>
                </div>
                <div id="main-card" class="card valign-wrapper">
                    <div class="container valign">
                        <table class="bordered highlight centered">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>姓名</th>
                                    <th>到访时间</th>
                                    <th>离开时间</th>
                                    <th>学生学号</th>
                                    <th>学生姓名</th>
                                    <th>修改</th>
                                    <th>删除</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for visitor in visitors %}
                                <tr>
                                    <form action="/admin/visitor_update" method="post">
                                        <input type=hidden name=id value={{ visitor[0] }}>
                                        <td>
                                            <input type=text disabled value={{ visitor[0] }}>
                                        </td>
                                        <td>
                                            <input type=text name=name value={{ visitor[1] }}>
                                        </td>
                                        <td>
                                            <input type=text name=begintime value={{ visitor[2] }}>
                                        </td>
                                        <td>
                                            <input type=text name=endtime value={{ visitor[3] }}>
                                        </td>
                                        <td>
                                            <input type=text name=student value={{ visitor[4] }}>
                                        </td>
                                        <td>
                                            <input disabled type=text value={{ visitor[5] }}>
                                        </td>
                                        <td>
                                            <button class="btn waves-effect waves-light right blue lighten-2" type="submit" name="action">修改
                                            </button>
                                        </td>
                                    </form>
                                    <td>
                                        <form action="/admin/visitor_delete" method="post">
                                            <input type=hidden name=id value={{ visitor[0] }}>
                                            <button class="btn waves-effect waves-light right blue lighten-2" type="submit" name="action">删除
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                        {% else %} {% include '/admin/notadmin.html' %} {% endif %}


                    </div>
                </div>
            </div>
        </main>
        {% include './layout/footer.html' %}

    </body>

</html>